# APP
PORT=3000
NODE_ENV=development

# DATABASE (PostgreSQL)
DATABASE_URL="postgresql://root:password@localhost:5432/pomeloec?schema=public"

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# KAFKA
KAFKA_BROKERS=localhost:9092

# JWT Auth
JWT_SECRET=super_secret_pomelo
JWT_EXPIRES_IN=1d

# Third Party (GHN or ViettelPost)
SHIPPING_API_KEY=
